{% extends 'PPMemberClub/base.html' %}

{% block content %}


        <div class="text-white" style="border-radius:20px; border: hidden rgb(255,255,255); box-shadow: 0 0 50px rgba(9, 0, 0, 0.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
        <div>
        <p> <i class="fa fa-user-circle-o" aria-hidden="true"></i> <h3>Member Business Details</h3> </p>
        <hr />
            <dl class="row">
        
                <dt class="col-sm-2">
                    ID :
                </dt>
                <dd class="col-sm-10">
                    {{record.id}}
                </dd>
                <dt class="col-sm-2">
                    Business Name :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businessname}} 
                </dd>
    
                <dt class="col-sm-2">
                    Business Details :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businessdetails}}
                </dd>
                <dt class="col-sm-2">
                    Business Address :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businessaddress}}
                </dd>
                <dt class="col-sm-2">
                    Business City :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businesscity}}
                </dd>
                <dt class="col-sm-2">
                    Business Email :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businessemail}}
                </dd>
                <dt class="col-sm-2">
                    Business Postal Code :
                </dt>
                <dd class="col-sm-10">
                    {{record.Businesspostalcode}}
                </dd>
                
            </dl>
        </div>
        </div>


    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a> |
    <a class="btn btn-primary" href="{% url 'update-memberbusiness' record.id %}">Edit Data</a>

    {% if request.user.is_superuser %}
    &nbsp;
    <a class="btn btn-info" href="{% url 'proposedmemberbusinessdata' record.id %}">Pending Request</a>
    {% endif %}

{% endblock %}